{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Product example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
  </head>

  <body>

   

    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-1 text-center bg-light">
      
        <h1 class="display-4 font-weight-normal">About the Store</h1>
        <p class="lead font-weight-normal"><strong>Elegant Oysters Online Store is an organization established by a few like minded individuals living under the same roof. Their passion for developing handcrafted oyster candles led to the formation of a group that share true passion towards the business as well as the project. The organization was established and registered on 12th May, 2018. Primarily the company had two shareholders owning the business. Now the company has two more owners.</strong></p>
        
      </div>
   

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Social Media Account</h2>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <br>

          <p style = "color:black;"class="lead">
            <strong>
              <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
              </a> https://www.facebook.com/ 
            </strong>
          </p> 

          <p style = "color:black;"class="lead">
            <strong>
              <a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button">
                <i class="fab fa-instagram"></i>
              </a> https://www.instagram.com/ 
            </strong>
          </p> 

          <p style = "color:black;"class="lead">
            <strong>
              <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button">
                <i class="fab fa-twitter"></i>
              </a> https://www.twitter.com/ 
            </strong>
          </p> 

          <p style = "color:black;"class="lead">
            <strong>
              <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button">
                <i class="fab fa-linkedin-in"></i>
              </a> https://www.linkedin.com/ 
            </strong>
          </p>



        </div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Contact Information</h2>
          
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <br>
          <p style = "color:white;"class="lead"><strong>The organization was established and registered on 12th May, 2018. Primarily the company had two shareholders owning the business. Now the company has two more owners. </strong></p>
        </div>
      </div>
    </div>
   

<footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          
          <small class="d-block mb-3 text-muted">&copy; Elegant Oysters Online Store</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
   


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>


  </body>
</html>




{% endblock %}

